name: orpheusapp
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # Banco de dados
  sqflite: ^2.3.0
  path: ^1.8.3

  # Ícones Font Awesome
  font_awesome_flutter: ^10.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  # Caso você tenha imagens
  # assets:
  #   - assets/images/
